UseColor: true

# Cast the net wide: select all checks that are not obviously irrelevant.
Checks: >
    abseil-*, # Checks related to Abseil library.
    boost-*, # Checks related to Boost library.
    bugprone-*, # Checks that target bug-prone code constructs.
    cert-*, # Checks related to CERT Secure Coding Guidelines.
    clang-analyzer-*, # Clang Static Analyzer checks.
    concurrency-*, # Checks related to concurrent programming.
    cppcoreguidelines-*, # Checks related to C++ Core Guidelines.
    google-*, # Checks related to Google coding conventions.
    hicpp-*, # Checks related to High Integrity C++ Coding Standard.
    linuxkernel-*, # Checks related to the Linux Kernel coding conventions.
    llvm-*, # Checks related to the LLVM coding conventions.
    llvmlibc-*, # Checks related to the LLVM-libc coding standards.
    misc-*, # Miscellaneous checks.
    modernize-*, # Checks that advocate usage of modern language constructs.
    mpi-*, # Checks related to MPI (Message Passing Interface).
    performance-*, # Checks that target performance-related issues.
    portability-*, # Checks that target portability-related issues.
    readability-*, # Checks that target readability-related issues.

# TODO add info on how to ignore errors.
WarningsAsErrors: "*"